.islink{
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background: black;
    color: white;
  }
}
